*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cabecera{
    text-align: center;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#cabecera p{
    font-weight: lighter;
    color: #555;
    font-size: 1rem;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h4{
    font-weight: bold;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px rgb(151 156 165 / 0.89);

}

h3 {
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 1em;
}

.iframeContainer {
    display: flex;
    justify-content: center;
}

#videoIntro {
    width: 50vw;
    height: 25vw;
    max-width: 100%;
    max-height: 100%;
}


.lista ul {
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

.lista a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.lista a:hover {
    background-color: rgb(151 156 165 / 0.89);
    color: white;
    border: 1px #007BFF;
    border-radius: 5px;
}

#photo {
    width: 8vw;
    height: auto;
}

.subtitle {
    color: rgb(151 156 165 / 0.89);
    text-transform: uppercase;
}

footer p{
    text-align: right;
    font-style: italic;
}

nav > ul{
    list-style: none;
}

section {
    border: 0.2pt solid #cedddd;
    margin: 4px 2px 8px 2px;
    padding: 1.5% 0.8%;
    margin-bottom: 1.2rem;
}

.lista-tecnica{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.lista-tecnica img{
    width: 80%;
    height: auto;
    border-radius: 8px;
    padding: 1rem;
}

.lista-tecnica li{
    align-items: center;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold;
}

.lista-tecnica li:hover{
    background-color:  #cedddd;
    transition: background-color 0.3s, transform 0.3s;
}

#educacion iframe{
    width: 50vw;
    height: 25vw;
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#testimonios {
     display: grid;
     grid-template-columns: 3fr 3fr 3fr;
     gap: 1rem;
}

#testimonios > p {
    grid-column: 1/-1;
    text-align: center;
    padding:0.5rem;
    font-style: italic;
    font-weight: bold;
}

#contacto-formulario > form{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    justify-items:stretch;
}
